.container {
  display: grid;
  grid-template-rows:
    [header-start] 17vh
    [header-end hero-start] 83vh
    [hero-end portfolio-start] 100vh
    [portfolio-end about-start] 100vh
    [about-end contact-start] 83vh
    [contact-end footer-start] 17vh
    [footer-end];
  grid-template-columns: 1fr;
}
