#header {
  grid-row: header-start / header-end;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .nav {
    display: flex;
    align-items: center;
    letter-spacing: $default-letter-spacing;

    &__items {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, max-content);
      grid-column-gap: 4.2rem;
      align-items: center;
      font-size: $font-sm;
      text-transform: uppercase;

      a,
      a:visited {
        color: $primary-light;
      }

      a:hover,
      a:visited:hover {
        color: set-hover-color($primary-light);
      }
    }
  }

  @media screen and (max-width: 970px) {
    .nav__items {
      display: none;
    }
  }
}
