//Fonts
$default-font: "Source Sans Pro", sans-serif;

$fancy-font: "Playfair Display", serif;

//Font Sizes
$font-sm: 1.5rem;
$font-md: 1.8rem;
$font-lg: 2.5rem;

//Colors
$primary-dark: rgb(0, 0, 0);
$primary-light: rgb(17, 17, 17);
$secondary-dark: rgb(76, 76, 76);
$secondary-light: rgb(162, 162, 162);
$highlight-orange: rgb(253, 38, 38);
$bottom-line: rgb(244, 244, 244);

//Letter Spacing
$default-letter-spacing: 2px;
$md-letter-spacing: 4px;
$lg-letter-spacing: 14px;
